:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #404bbf;
    --whitecolor: white;
    --slatecolor: #434455;
    --ashwhite: rgb(242, 237, 237);
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --primary-background-color: rgba(46, 47, 66, 0.70);
    --lightslate: #8E8F99;
    --green: #31d0aa;
    --BG: #d3dbde;
}

/*CSS RESET*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
html{
    box-sizing: border-box;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
.link {
    text-decoration: none;
    color: inherit;
}

/*END OF CSS RESET*/
body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--slatecolor);
    font-size: 16px;
    background-color: var(--whitecolor);
}

.page-header {
    border-bottom: .1px solid var(--cornflower);
}
.container-menu {}

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--iriscolor);
}

.studio {
    color: var(--navyblue);
}
.navigation {
    gap: 70px;
}

.nav-menu .page {
    color: var(--navyblue);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-menu {
    gap: 30px;
}
.contacts-menu {
    gap: 30px;
    margin-left: 334px;
} 
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact .link:focus {
    color: var(--iriscolor);
}
.contacts-menu .contact {
    font-weight: 400;
}
.hero {
    background-image: url(../images/Dark-bg.png), url(../images/people-office-1.jpg),
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    padding: 200px 0px;
    text-align: center;
}
.hero-title {
    color: var(--whitecolor);
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}
.button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
}

.button.primary {
    background-color: var(--iriscolor);
    color: var(--whitecolor);
    font-size: 16px;
    font-family: inherit;
    line-height: 1.87;
    letter-spacing: 0.05em;
    font-weight: 500;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--oceancolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.12);
}

.button.filter {
    background-color: var(--cloud);
    color: var(--iriscolor);
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
    background-color: var(--oceancolor);
    color: var(--cloud);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.12);
}
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
}
.filters .space + .space {
    margin-left: 8px;
}
.benefits { 
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.benefits .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.benefits .icon {
    margin-bottom: 8px;
    width: 264px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);

}

.benefits .description {
    color: var(--slatecolor);
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
}

.benefits .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--navyblue);
    line-height: 1.14;
    margin-bottom: 10px;
}
.section-title {
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5px;
    margin-bottom: 50px;
}
.what-we-do {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.what-we-do .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.team .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: var(--whitecolor);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.12);
}
.team .name,
.team .position {
   line-height: 1.19;
   text-align: center;
}
.team .name {
    font-weight: 500;
    font-size: 20px;
    color: var(--navyblue);
    padding-top: 30px;
    padding-bottom: 10px;
}
.team .position {
    font-weight: 400;
    font-size: 16px;
    color: var(--slatecolor);
    padding-bottom: 10px;
}
.bg-team {
    background-color: var(--cloud);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
    
.project-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.12);
}
.project .name {
    color: var(--navyblue);
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.project .type {
    color: var(--slatecolor);
    font-weight: 400;   
    font-size: 18px;
    line-height: 1.47;  
}
   

.project-card:hover,
.project-card:focus {
    box-shadow: 0px 2px 2px 0px rgba(46, 47, 66, 0.70);
   
}

.substrate {
    padding: 20px 24px;
    background-color: var(--whitecolor);
    border: 1px solid #eeeeee;
    border-top: 0;
}

.client-icon {
    fill: currentColor;
}
.partners {
    display: flex;
    justify-content: space-between;
}   
.partners .item {
    height: 90px;
    width: calc((100% - 150px) / 6);
}  

.partners .link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--lightslate);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
}
.partners .link:hover,
.partners .link:focus {
   color: var(--iriscolor);
}

.partners .item:hover,
.partners .item:focus {   
    border: 1px solid var(--lightslate);
} 

.container {
    width: 1200px; 
    padding: 0 15px;   
    margin: 0 auto;
}
.menu,
.navigation,
.nav-menu,
.contacts-menu {
    display: flex;
    align-items: center;
}
.section {
    padding: 120px 0;
}
.section.no-top-padding {
    padding-top: 0;
}

.social-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    }

.social-team .link {
    fill: currentColor;
}    
.social-team .link{
    display: flex;
    width: 40px;
    height: 40px;  
    align-items: center;
    justify-content: center;
    background-color: var(--iriscolor);
    color: var(--cloud);
    border-radius: 50px;
}  
.social-team .link:hover,
.social-team .link:focus {
    background-color: var(--oceancolor);
}

.social-footer .link {
    fill: currentColor;
}

.social-footer .link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iriscolor);
    color: var(--cloud);
    border-radius: 50px;  
}
.social-footer .link:hover,
.social-footer .link:focus,
.social-footer .link .current {
    background-color: var(--green);
}
.social-footer {
    display: flex;
    gap: 16px;
    margin-top: 20px;

}

.social-footer .icon-item {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.page-footer {
    padding: 60px 0;
    background-color: var(--navyblue)
    }

.studio-footer {
        color: var(--cloud);
    }

.page-footer {
    padding: 60px 0;
    background-color: var()
}

.studio-footer {
    color: var(--cloud);
}

.footer-description {
    color: var(--cloud);
    padding-top: 17px;
    font-size: 16px;
    width: 270px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
}
.footer-heading {
    color: var(--ashwhite);      
}
.footer {
    display: flex;
    gap: 130px;
 
}
.page-footer {
    padding: 60px 0;
    background-color: var(--navyblue);
}

























































































































